[submodule "my-website/docs/TestDocSiteGenerator"]
	path = my-website/docs/TestDocSiteGenerator
	url = git@github.com:maya-wang/TestDocSiteGenerator.git
[submodule "docs/TestDocSiteGenerator"]
	path = docs/TestDocSiteGenerator
	url = git@github.com:maya-wang/TestDocSiteGenerator.git
